<div class="jumbotron jumbotron-home">
  <div class="container">
    <h1>Welcome to my website</h1>
    <p>
      The Rails Guides are so comprehensive that they are essentially a completely open-source textbook and reference manual
      for Rails. At times, they’ll get a bit more technical and in-depth than you might like, and it may be
      okay to skim at that point. When you Google for help as you build your projects, if you don’t find a direct
      solution on Stack Overflow, then your best bet will be to dive into the relevant Rails Guides links.
    </p>
    <%= link_to "Learn More", "#", class: "btn btn-primary btn-lg" %>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-4">
        <h2>Heading</h2>
        <p>
          The Rails Guides are so comprehensive that they are essentially a completely open-source textbook and reference manual
          for Rails. At times, they’ll get a bit more technical and in-depth than you might like, and it may be
          okay to skim at that point. When you Google for help as you build your projects, if you don’t find a direct
          solution on Stack Overflow, then your best bet will be to dive into the relevant Rails Guides links.
        </p>
      <%= link_to "View Details", "#", class: "btn btn-secondary" %>
    </div>

    <div class="col-md-4">
      <h2>Heading</h2>
      <p>
        The Rails Guides are so comprehensive that they are essentially a completely open-source textbook and reference manual
        for Rails. At times, they’ll get a bit more technical and in-depth than you might like, and it may be
        okay to skim at that point. When you Google for help as you build your projects, if you don’t find a direct
        solution on Stack Overflow, then your best bet will be to dive into the relevant Rails Guides links.
      </p>
      <%= link_to "View Details", "#", class: "btn btn-secondary" %>
    </div>

    <div class="col-md-4">
      <h2>Heading</h2>
      <p>
        The Rails Guides are so comprehensive that they are essentially a completely open-source textbook and reference manual
        for Rails. At times, they’ll get a bit more technical and in-depth than you might like, and it may be
        okay to skim at that point. When you Google for help as you build your projects, if you don’t find a direct
        solution on Stack Overflow, then your best bet will be to dive into the relevant Rails Guides links.
      </p>
      <%= link_to "View Details", "#", class: "btn btn-secondary" %>
    </div>
  </div>

</div>